$colors: (
    text: (
        primary: #665255,
        secondary: #000000,
        neutral: #FFFFFF ,
        error: #FF5858,
        success: #97C154,
    ),
    background: (
        primary: #FFFBF7,
        secondary: #F4E7D0,
        neutral: #FFFFFF, 
        error: #F44336,
        success: #97C154,
    ),
    input: (
        primary-bg: #E8EDFF,
        primary-bg-focus: #CCD6FA,//opacité 60%
        secondary-bg: #D4DAEE,// #2E335A, //opacité 10%
        secondary-bg-focus: #C3C8DE,// #2E335A, //opacité 25%
    ),
    button: (
        primary: #EBC39D,
        primary-hover: #C89D72,
        secondary: #F4E7D0,
        secondary-hover: #ebc39b,
    ),
    border: (
        primary: #000000, //opacite 25%
    )
)