.loaderPoint{

    .point{
        display: inline-block;
        height: 0.6em;
        width: 0.6em;
        border-radius: 50%;
        background-color: white;
        margin-left: 0.5em;
        animation-iteration-count: infinite;
        animation-name: loaderPoint;
        animation-duration: 1.5s;

        &:first-child{
            margin-left: 0!important;
        }

        &.second{
            animation-delay: 0.3s;
        }

        &.third{
            animation-delay: 0.6s;
        }

        @keyframes loaderPoint {
            0% {
                opacity: 0;
            }
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
    }
}