@use '../utilities/mixins' as *;

.About{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
    max-width: 100%;
    flex-wrap: wrap;
    row-gap: 4rem;
    justify-content: center;   


    &__infos {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        color: rgba(var(--clr-text-primary));
        gap: 1em;
        align-items: center;

        &--title {
            font-size: 2.2em;
            position: relative;
            width: fit-content;
            text-transform: uppercase;
            font-family: 'Cinzel';

            span {
                font-size: 1.2em;
            }

            &::after{
                content: '';
                position: absolute;
                bottom: 0.1em;
                left: 8%;
                right: 0;
                width: 84%;
                height: 0.08rem;
                background-color: rgba(var(--clr-text-primary));
            }
        }

        &--content {
            background-color: rgba(var(--clr-background-secondary));
            border-radius: 1em;
            max-width: 29em; 
            padding: 1em;
        }

        &--subtitle {
            font-family: 'Cinzel';
            font-size: 1.4em;
            text-align: end;
            text-transform: uppercase;
        }

        &--text {
            width: 100%;
            text-align: justify;
        }
    }

    &__picture {
        flex: 0 1 auto;
        display: flex;
        justify-content: center;
        gap: 1em;

        &--textContainer{
            display: flex;
            flex-direction: column;
            justify-content: space-around;  
            
            @include mobile {
                visibility: hidden;
            }
        }

        &--text{
            position: relative;
            text-align: center;

            p{
                font-family: 'Lora';
                color: rgba(var(--clr-text-primary));
                width: 10em;
            }

            img{
                position: absolute;
                width: 10em;
                top: -4em;
                right: -5em;

                &.right {
                    transform: scale(-1,1);
                    right: unset;
                    left: -5em;
                }

                &.bottom {
                    transform: scale(1,-1);
                    top: unset;
                    bottom: -4em;
                }

                &.bottom.right{
                    transform: scale(-1,-1);
                }
            }
        }

        &--lucile {
            height: max(20rem, calc(var(--doc-height, 1vh) * 60));
            border-radius: 1em;
        }
    }
}