.About{
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 100%;

    &__infos {
        flex: 1 0 0;
        display: flex;
        flex-direction: column;
        color: rgba(var(--clr-text-primary));
        gap: 1em;
        align-items: center;

        &--title {
            font-size: 2.2em;
            position: relative;
            width: fit-content;
            text-transform: uppercase;
            font-family: 'Cinzel';

            span {
                font-size: 1.2em;
            }

            &::after{
                content: '';
                position: absolute;
                bottom: 0.1em;
                left: 8%;
                right: 0;
                width: 84%;
                height: 0.08rem;
                background-color: rgba(var(--clr-text-primary));
            }
        }

        &--content {
            background-color: rgba(var(--clr-background-secondary));
            border-radius: 1em;
            max-width: 29em;
            padding: 1em;
        }

        &--subtitle {
            font-family: 'Cinzel';
            font-size: 1.4em;
            text-align: end;
            text-transform: uppercase;
        }

        &--text {
            width: 100%;
            text-align: justify;
        }
    }

    &__picture {
        flex: 1 0 0;
        display: flex;

        &--textContainer{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
        }

        &--text{
            position: relative;

            p{

            }

            img{
                position: absolute;
                width: 8em;
            }
        }

        &--lucile {
            height: max(20rem, calc(var(--doc-height, 1vh) * 60));
            border-radius: 1em;
        }
    }
}