@use '../utilities/mixins' as *;

.Homepage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;

    &__top {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include touch {
            flex-direction: column;
        }

        .containPortraitTitle {
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            @include touch {
                flex-direction: column;
            }
        }        

        .portrait {
            --unite: min(var(--doc-height, 1vh),1.5vw);
            height: calc(68 * var(--unite));
            width: calc(55.7 * var(--unite));
            border-radius: calc(var(--doc-height, 1vh) * 30) calc(var(--doc-height, 1vh) * 30) 0 0;
            background-color: rgba(var(--clr-background-secondary));
            position: relative;
            margin-right: 5%;
            

            .bienvenue {
                position: absolute;
                left: 45%;
                top: 15%;
                height: calc(30 * var(--unite));
                width: calc(30 * var(--unite));
                margin: calc(-16 * var(--unite)) 0 0 calc(-15 * var(--unite));

                *{
                    fill: rgba(var(--clr-text-primary));
                }
            }

            .Lucile {
                position: absolute;
                left: 45%;
                top: 15%;
                height: calc(49.1 * var(--unite));
                width: calc(32.8 * var(--unite));
                cursor: pointer;

                &:hover {
                    .name {
                        opacity: 0.8;
                    }
                }

                .containPicture{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                    border-radius: max(0.65rem, calc(var(--doc-height, 1vh) * 2));
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .name {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(var(--clr-button-primary));
                    font-family: 'Edwardian';
                    font-size: 8em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    opacity: 0;
                    transition: opacity 0.6s ease-in;

                    p {
                        margin-left: -0.1em;
                        text-align: center;
                        text-wrap: wrap;
                    }
                }
            }
        }

        .titlePortfolio {
            font-family: 'Edwardian';
            font-size: calc(10em + 3vw);
            margin-top: auto;
            margin-left: -0.3em;
            z-index: 2;

            @include touch {
                margin-left: 0;
                margin-top: -0.8em;
            }
        }

        .titleBeauty {
            position: relative;
            font-family: 'Cinzel';
            font-weight: 300;
            font-size: 6em;
            width: 0em;
            height: 0em;
            margin-bottom: 10rem;            

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 0.4em;

            @include touch {
                width: fit-content;
                height: unset;
                margin-bottom: unset;
            }

            .containText {
                position: absolute;
                left: -5em;
                top: -2.5em;
                width: 5em;
                height: 5em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                rotate: -90deg;
                padding-top: clamp(0em, 24vw, 5em);

                @include touch {
                    rotate: 0deg;
                    position: relative;
                    width: fit-content;
                    margin: unset;
                    padding: unset;
                    height: unset;
                    left: unset;
                    top: unset;
                }
            }

            p {
                flex: 0 0 0;
                width: fit-content;
                text-align: center;
                text-wrap: nowrap;
            }

            
        }
    }

    .Button {
        align-self: end;
        text-align: center;

        @include mobile {
            align-self: center;
        }
    }
}