@use "../utilities/mixins" as *; 

.Skeletton {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--clr-background-primary),1);
    overflow-y: scroll;
    position: relative;
    
    @include touch {
        .slideMenu {
            visibility: visible!important;
        }

        .hiddenOnTouch {
            visibility: hidden;
            position: absolute;            
        }
    }

    .header {
        width: 100%;
        height: 11rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        

        .Logo {
            width: 7rem;
            height: 7rem;
            padding: 0 0 0 1rem;

            &.spa {
                background-color: rgba(var(--clr-background-secondary),1);
                padding: 0 1rem;
                width: 8rem;
                height: 8rem;
                border-radius: 1.5rem;
                box-shadow: 1px 2px 2px rgba(var(--clr-border-primary), 0.25);
            }
        }

        .separator {
            flex-grow: 2;
            height: 0.1rem;
            margin: 2rem;
            background-color: rgba(var(--clr-text-primary),1);
        }

        .Menu {
            display: flex;
            flex-direction: row;
            gap: min(4rem, 2vw);
            align-items: center;

            .menuButton {
                font-size: 1.7em;
                text-transform: uppercase;
                font-family: 'Cinzel';
                color: rgba(var(--clr-text-primary),1);
                text-align: center;
                cursor: pointer;

                span {
                    font-size: 1.1em;
                }

                .light {
                    position: absolute;
                }

                .bold {
                    visibility: hidden;
                    font-weight: 500;
                }

                &:hover, &.selected {
                    font-weight: 500;
                    .light {
                        visibility: hidden;
                    }
                    .bold {
                        visibility: visible;
                    }
                }

                &.selected {
                    text-decoration: underline;
                }
            }

            .immersive{
                position: relative;
                background-color: rgba(var(--clr-background-secondary),1);
                padding: 0.5rem;
                width: 6rem;
                height: 6rem;
                border-radius: 1.5rem;
                box-shadow: 1px 2px 2px rgba(var(--clr-border-primary), 0.25);
                cursor: pointer;

                svg {
                    fill: rgba(var(--clr-text-primary),1);
                }

                .circle {
                    position: absolute;
                    top: -0.5rem;
                    right: -0.5rem;
                    height: 2rem;
                    width: 2rem;
                    border-radius: 1rem;
                    

                    background-color: rgba(var(--clr-background-error),1);

                    &.spa{
                        background-color: rgba(var(--clr-background-success),1);
                    }
                }
            }
        }
    }

    .PageLayout {
        min-height: calc(100vh - 11rem - 4rem);
        padding: 0 2rem;
    }

    .footer {
        height: 4rem;
        background-color: rgba(var(--clr-background-secondary),1);
    }

    .slideMenu {
        visibility: hidden;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 50;
        transition: transform 0.4s;
        transform: translateX(-15em);

        &.open {
            transform: translateX(0em);
        }

        .navigationMenu {
            height: 100%;
            width: 15em;
            background-color: rgba(var(--clr-button-primary));
        }

        .displayButton {
            position: relative;
            height: 0;
            width: 6em;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                height: 1em;
                z-index: 4;
                color: rgba(var(--clr-text-soft));
                transition: transform 0.4s;

                &.open {
                    transform: rotate(180deg);
                }
            }
            svg {
                position: absolute;
                height: 26.3em;
                fill: rgba(var(--clr-button-primary));
            }

        }
    }
}